.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
}

/*extra large */
@media only screen and (max-width: 1500px) {
 .card-grid{
     grid-template-columns:  1fr 1fr 1fr;
 }
 
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 992px) {
    .card-grid{
        grid-template-columns: 1fr 1fr ;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {
    .card-grid{
        grid-template-columns: 1fr;
    }
}